.marqueeSection {
    padding: 4rem 0;
    border-top: 1px solid #D3C3F8;
    overflow: hidden;
    text-align: center;
    position: relative;
}

.desktopHeading {
    font-size: 3rem;
    font-weight: 600;
    color: #060237;
    display: inline-block;
    margin: 0 auto;
}

/* --- Mobile Animation (Right ➜ Left continuous scroll) --- */
@media (max-width: 768px) {
    .desktopHeading {
        font-size: 1.8rem;
        display: inline-block;
        white-space: nowrap;
        animation: marquee 12s linear infinite;
        padding-left: 100%;
        
    }

    @keyframes marquee {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-100%);
        }
    }
}