.container {
    padding: 90px 20px;
    text-align: center;
    border-top: 1px solid #d3c3f8;
}

.title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 10px;
    margin: 0 200px;
    letter-spacing: -.96px;
    line-height: 1.1em;
}

.description {
    font-size: 1.25rem;
    margin: 45px 200px;
    color: #060237;
}

.carouselWrapper {
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 1rem;
    position: relative;
}

.BackarrowBtn,
.ForwardarrowBtn {
    background: #D3C3F8;
    border-radius: 50%;
    padding: 0.7rem;
    cursor: pointer;
    font-size: 1.2rem;
}

.carousel {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    /* Firefox */
}

.carousel::-webkit-scrollbar {
    display: none;
    /* Chrome/Safari */
}

.card {
    flex: 0 0 auto;
    max-width: 201px;
    height: 100%;
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width:992px) {
    .card {
        max-width: 190px;
    }
}

@media (max-width:768px) {
    .container {
        padding: 55px 20px;
    }

    .card {
        max-width: 150px;
    }

    .carouselWrapper {
        display: flex;
        flex-direction: column;

    }

    .title {
        margin: auto 0;
        text-align: start;
        font-size: 2rem;
    }

    .description {
        margin: 45px 0px;
        text-align: start;
    }

    .BackarrowBtn {
        position: absolute;
        top: 322px;
        right: 73px;
    }
}